@media(max-width:1240.8px) {
    .fixed-left-box {
        left: -141px;
    }

    .fixed-right-box {
        right: 9px;
    }
}

@media(max-width:1199.8px) {
    .container {
        max-width: 970px;
    }

    .header {
        top: 6px;
    }

    .main-topscreen p.change-text__animation {
        line-height: normal;
    }

    .change-text__hiden {
        bottom: -1px;
    }

    .change-text__list {
        padding-left: 100px;
    }

    .main-secondscreen__left-box p.title {
        margin-bottom: 30px;
    }

    .main-secondscreen__aftrad-text .col-md-6:nth-child(1) p {
        margin-left: 0;
    }

    .main-secondscreen__aftrad-text .col-md-6:nth-child(2) p {
        margin-right: 0;
    }

    .rad-animation {
        width: 315px;
    }

    .rad-animation .rad-arrow {
        width: 300px;
    }

    .rad-animation .rad-arrow {
        bottom: -15px;
    }

    .estimate h2 {
        margin-bottom: 80px;
    }

    .estimate__platform .col-lg-3 {
        -ms-flex: 0 0 31%;
        flex: 0 0 31%;
        max-width: 31%;
    }

    .estimate__platform .col-lg-9 {
        -ms-flex: 0 0 69%;
        flex: 0 0 69%;
        max-width: 69%;
    }

    .estimate__title {
        text-align: left;
    }

    .estimate__prefferable .estimate__title,
    .estimate__accounts .estimate__title,
    .estimate__genercontent .estimate__title {
        margin-top: 0;
    }

    .estimate__platform {
        margin-bottom: 90px;
    }

    .estimate__prefferable .estimate__title,
    .estimate__accounts .estimate__title,
    .estimate__genercontent .estimate__title,
    .estimate__feedback .estimate__title {
        margin-bottom: 25px;
    }

    .estimate__prefferable,
    .estimate__accounts,
    .estimate__genercontent {
        margin-bottom: 75px;
    }

    .bg-el2 {
        top: initial;
        bottom: 0;
    }

    .fixed-left-box {
        left: -134px;
    }

    .fixed-right-box {
        right: 15px;
    }

    .main-topscreen {
        height: auto;
        min-height: initial;
        display: block;
        padding-top: 265px;
        padding-bottom: 265px;
    }

    .main-secondscreen {
        height: auto;
        min-height: initial;
        display: block;
        padding-bottom: 190px;
    }

    /* contact page */
    .contact-lists .row {
        justify-content: space-between;
    }

    .contact-lists {
        padding-top: 145px;
    }

    .list-box__title {
        font-size: 18px;
    }

    .list-box__list li a {
        font-size: 12px;
    }

    .contact-form__title {
        font-size: 18px;
    }

    .contact-form input[type="email"],
    .contact-form textarea {
        font-size: 12px;
        height: 28px;
    }

    .contact-lists .col-lg-2 {
        -ms-flex: 0 0 19%;
        flex: 0 0 19%;
        max-width: 20%;
    }

}

@media(max-width:1020.8px) {
    .fixed-left-box {
        left: -144px;
    }

    .fixed-right-box {
        right: 5px;
    }
}

@media(max-width: 991.8px) {
    .map-section {
        width: 100%;
    }

    .main-topscreen,
    .main-secondscreen,
    .estimate {
        padding-left: 30px;
        padding-right: 30px;
    }

    .fixed-left-box {
        left: -134px;
    }

    .fixed-right-box {
        right: 15px;
    }

    body {
        background-size: cover;
        background-image: url(../image/tablet-bg.png);
    }

    .bg-animate {
        display: none;
    }


    .contact-lists .row {
        justify-content: start;
    }










    .contact-lists,
    .map-section,
    .contact-form {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width: 960.8px) {

    .main-topscreen p.change-text__animation,
    .change-text__list__item,
    .estimate h2 {
        font-size: 32px;
    }

    .change-text__list {
        padding-left: 0;
    }

    .change-text__hiden {
        left: 290px;
    }

    .change-text__hiden {
        bottom: -10px;
    }

    .contact-lists .col-lg-2 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }

    .contact-lists .row .col-lg-2:nth-child(1),
    .contact-lists .row .col-lg-2:nth-child(2),
    .contact-lists .row .col-lg-2:nth-child(3) {
        margin-bottom: 25px;
    }
}

@media(max-width: 767.8px) {
    .main-topscreen {
        padding-left: 0;
        padding-right: 0;
    }

    .fixed-left-box,
    .fixed-right-box,
    .header__nav {
        display: none;
    }

    .header__logo {
        text-align: center;
    }

    .phone-burger {
        display: inline-block;
        position: absolute;
        top: -40px;
        right: 15px;
    }

    .change-text__hiden {
        left: 0;
    }

    .change-text__hiden {
        bottom: initial;
        position: relative;
    }

    .main-topscreen p.change-text__animation {
        font-size: 24px;
    }

    .change-text__list__item {
        font-size: 24px;
    }

    .main-topscreen {
        padding-top: 180px;
        padding-bottom: 100px;
    }

    .change-text__hiden {
        bottom: 23px;
    }

    .main-topscreen,
    .main-secondscreen,
    .estimate {
        padding-left: 0;
        padding-right: 0;
    }

    .main-secondscreen__left-box p.title {
        text-align: center;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .main-secondscreen__left-box p {
        font-size: 14px;
    }

    .main-secondscreen__right-box {
        margin-top: 55px;
    }

    .main-secondscreen__right-box .title {
        font-size: 10px;
    }

    .rad-animation {
        width: 200px;
    }

    .rad-animation .rad-arrow {
        width: 190px;
    }

    .rad-animation .rad-arrow {
        bottom: -10px;
    }

    .rad-animation:after {
        top: 43px;
        width: 30px;
        height: 30px;
    }

    .main-secondscreen__aftrad-text .col-md-6 p {
        font-size: 10px;
        max-width: 130px;
        margin-bottom: 0;
    }

    .main-secondscreen__aftrad-text .col-md-6 p br {
        display: none;
    }

    .main-secondscreen__aftrad-text .col-6:first-child {
        text-align: right;
    }

    .main-secondscreen__aftrad-text .col-6:nth-child(2) {
        text-align: left;
    }

    .main-secondscreen {
        padding-bottom: 85px;
    }

    .estimate h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 40px;
    }

    .estimate h2 br {
        display: none;
    }

    h2 {
        font-size: 24px;
    }

    .estimate__title {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .estimate__platform .col-lg-3 {
        -ms-flex: 0 0 67%;
        flex: 0 0 67%;
        max-width: 67%;
    }

    .estimate__platform .col-lg-9 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }

    .estimate__select .jq-selectbox__select,
    .estimate__select .jq-selectbox {
        width: 100%;
    }

    .estimate__platform .estimate__title {
        text-align: right;
    }

    .estimate__platform {
        margin-bottom: 45px;
    }

    .estimate__prefferable .estimate__title {
        text-align: center;
        margin-bottom: 30px;
    }

    .estimate_choosebox {
        width: 240px;
        margin: 0 auto 20px;
    }

    .estimate__prefferable,
    .estimate__accounts,
    .estimate__genercontent {
        margin-bottom: 60px;
    }

    .estimate__genercontent .estimate__title {
        max-width: 200px;
        margin: 0 auto 25px;
    }

    .estimate_choosebox:hover {
        border: 2px solid transparent;
        box-shadow: none;
    }



    .estimate__feedback .estimate__title {
        width: 170px;
        margin: 0 auto 25px;
    }

    .estimate__bottomsect p {
        text-align: center;
        margin-top: 35px;
    }

    .btn-gradient-wrap {
        margin-bottom: 30px;
    }

    .estimate {
        margin-bottom: 100px;
    }

    .header__nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #02071e;
        background: linear-gradient(45deg, #03092a, #010310);
    }

    .header__nav ul {
        padding: 0;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -66px;
    }

    .header__nav ul li {
        margin: 0 0 20px 0;
        display: block;
    }

    .header__nav ul li a:after {
        display: none;
    }

    .close-phone-menu {
        display: inline-block;
        position: absolute;
        right: 18px;
        top: 29px;
        width: 18px;
    }























    .estimate__bottomsect p {
        font-size: 24px;
    }

    .estimate__accounts .estimate__title,
    .estimate__genercontent .estimate__title,
    .footer p {
        text-align: center;
    }

    .estimate__select .jq-selectbox__select-text {
        font-size: 14px;
    }

    .contact-lists,
    .map-section,
    .contact-form {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media(max-width:575.8px) {
    body {
        background-image: url(../image/phone-bg.png);
    }

    .contact-lists .col-lg-2 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .list-box {
        text-align: center;
    }

    .contact-lists {
        padding-top: 135px;
    }

    .list-box__title {
        font-size: 24px;
    }

    .list-box__list li a {
        font-size: 13px;
    }

    .list-box__list li:last-child a:last-child {
        margin-right: 0;
    }

    .contact-lists .row .col-lg-2 {
        margin-bottom: 20px !important;
    }

    body.contact-page {
        background-image: url(../image/phone-bg-contact.png);
        background-size: cover;
    }

    .contact-form__title {
        text-align: center;
    }

    .contact-form__title br {
        display: inline-block;
    }

    .contact-form input[type="email"],
    .contact-form textarea {
        height: 25px;
    }

    .contact-form textarea {
        margin-bottom: 25px;
    }

    .submit-box input {
        width: 100%;
    }

    .contact-form {
        padding-bottom: 80px;
    }
}